
@{
    ViewBag.Title = "Instructions";
    Layout = "~/Views/Shared/_InfoLayout.cshtml";
}

<div class="container" style="margin-top:30px; margin-bottom: 30px;">
    <div class="row">
        <h3>Insurance bot survey</h3>
    </div>

    <div class="row">
        <h4>Intro</h4>
        <p>Typically dialog systems can be divided in two parts - chatter bots and guided bots. Chatter bots offer free and unstructured conversation, but guided bots are performing specific task like reporting the claim. Hybrid chat bots in turn combine both the free and unstructured conversation with guided conversation.</p>
    </div>

    <div class="row">
        <h4>Goal</h4>
        <p>During the user test you will have to report a motor claim in Norwegian using two chat bots. In the end of the user testing session you will have to answer couple of questions about your experience.</p>
    </div>

    <div class="row" style="margin-bottom: 10px;">
        <h4>Instructions</h4>
    </div>

    <h5>Step #1</h5>

    <p>Choose one of the general situations below that describes car accident you have been into.</p>

    <table>
        <tr>
            <td class="font-weight-bold">Situation A</td>
            <td>You have hit an animal.</td>
        </tr>
        <tr>
            <td class="font-weight-bold">Situation B</td>
            <td>You have collided with another car.</td>
        </tr>
        <tr>
            <td class="font-weight-bold">Situation C</td>
            <td>You have hit your car with no other cars involved.</td>
        </tr>
    </table>

    <br/>
    <p>Feel free to think about details how the accident happened. You have an insurance that should cover this accident and you would like to report the claim.</p>

    <h5>Step #2</h5>
    <p>
        Open chat bot V1 - <a href="https://tinyurl.com/y8ruaort">link</a> (use Google Chrome or Mozilla Firefox)
    </p>

    <h5>Step #3</h5>
    <p>Type in a greeting (for example, "Hei!") to start the conversation</p>

    <h5>Step #4</h5>
    <p>Follow the conversation and report the claim with all expectations that you would have for this kind of solution in your daily life.</p>
    <p>When asked to input car registration number, please, use scrambled random letters/number like “fda98yaafasd” and save it somewhere, you will need that when answering questions in survey.</p>

    <h5>Step #5</h5>
    <p>Fill out this survey - <a href="https://tinyurl.com/y7lscngg">link</a></p>

    <h5>Step #6</h5>
    <p>
        Open chat bot V2 - <a href="https://tinyurl.com/y72nsp42">link</a> (use Google Chrome or Mozilla Firefox)
    </p>

    <h5>Step #7</h5>
    <p>Type in a greeting (for example, "Hei!") to start the conversation</p>

    <h5>Step #8</h5>
    <p>Follow the conversation and report the claim with all expectations that you would have for this kind of solution in your daily life.</p>
    <p>When asked to input car registration number, please, use scrambled random letters/number like “fda98yaafasd” and save it somewhere, you will need that when answering questions in survey.</p>

    <h5>Step #9</h5>
    <p>Fill out this survey - <a href="https://tinyurl.com/ybyffcu7">link</a></p>

    <div class="row">
        <h4>Notes</h4>
    </div>
    <div class="row">
        <ul>
            <li>Do not use any personal data.</li>
            <li>Feel free to interact with the chat bots as you wish and how you would expect to when reporting a claim.</li>
            <li>If there are any issues or questions, feel free to contact rolands.krumbergs@if.lv.</li>
            <li>You can use your native language when responding to survey.</li>
        </ul>
    </div>
</div>